.register{
    width: 260px;
    border-style:solid;
    border-width: 2px;
    text-align: center;   
    margin: 0 auto;
    display: block;
}
.login{
    width: 360px;
    height: 160px;
    border-style:solid; 
    border-width: 2px;
    text-align: center;   
    margin: 0 auto;
    display: block; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
body{
    background-image:url(fotos/Site\ do\ Jackson.png) ;
    background-repeat: no-repeat;
    background-size: 98%;
    margin: 0 auto;
}
.content{
    display: center;
    width: 300px;
    margin: 0 auto;
    background-position: center;
}
input{
    width: 225px;
    text-align: center;
    border-radius: 5px;
}
.dotinha{
    width: 150px;
    background-color:aqua;
}
.invoker{
    background-color:aqua;
}
.paxta{
    background-color:aqua;

}
h1{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}